[Desktop Entry]
Version=1.1
Name=IBM Quantum Composer
Comment=Design and simulate quantum circuits in your web browser
Icon=/usr/share/icons/rasqberry/ibm-quantum.png
Type=Application
Categories=RasQberry;
Exec=chromium-browser https://quantum.ibm.com/composer/
Terminal=false
StartupNotify=true
MimeType=text/html;
Keywords=quantum;qiskit;composer;circuit;IBM;
X-GNOME-TextColor=#000000
TryExec=chromium-browser
NoDisplay=false