[Desktop Entry]
Version=1.1
Name=Fun with Quantum
Comment=Quantum games as Jupyter notebooks, the Fun with Quantum website (games in the browser, works offline) and the Fun with Quantum family: choose from a list
Icon=/usr/share/icons/rasqberry/Coin-115-0-0-Kante.png
Type=Application
Categories=RasQberry;
Exec=/usr/bin/rq_hold_on_error.sh -t "Fun with Quantum" /usr/bin/rq_demo_choose.sh fun-with-quantum
Terminal=true
StartupNotify=true
Keywords=quantum;jupyter;notebook;games;education;qiskit;rise;coin;grover;
X-GNOME-TextColor=#000000
TryExec=/usr/bin/rq_demo_run.sh
NoDisplay=false
