[Desktop Entry]
Version=1.1
Name=Grokking the Bloch Sphere (Web)
Comment=Interactive 3D visualization and exploration of the Bloch sphere for quantum computing education (online version)
Icon=applications-science
Type=Application
Categories=RasQberry;
Exec=chromium-browser --password-store=basic https://javafxpert.github.io/grok-bloch/
Terminal=false
StartupNotify=true
MimeType=text/html;
Keywords=quantum;bloch;sphere;visualization;education;qubit;web;online;
X-GNOME-TextColor=#000000
TryExec=chromium-browser
NoDisplay=false