[Desktop Entry]
Version=1.1
Name=IBM LED Demo
Comment=The IBM logo in colour on the LED panel
Icon=/usr/share/icons/rasqberry/sensehat-icon.png
Type=Application
Categories=RasQberry;
Exec=/usr/bin/rq_hold_on_error.sh -t "IBM LED Demo" /usr/bin/rq_led_ibm_demo.sh
Terminal=true
StartupNotify=true
Keywords=LED;IBM;demo;neopixel;hardware;rasqberry;
X-GNOME-TextColor=#000000
TryExec=/usr/bin/rq_led_ibm_demo.sh
NoDisplay=false