[Desktop Entry]
Version=1.1
Name=My Quantum Programs
Comment=Your own quantum notebooks: JupyterLab in your folder ~/My-Quantum-Programs, starting with the Hello World notebook
Icon=/usr/share/icons/rasqberry/quantum_icon_circuit.svg
Type=Application
Categories=RasQberry;Development;
Exec=/usr/bin/rq_hold_on_error.sh -t "My Quantum Programs" /usr/bin/rq_my_programs.sh
Terminal=true
StartupNotify=true
Keywords=quantum;qiskit;jupyter;notebook;python;programming;own;learn;LED;
X-GNOME-TextColor=#000000
TryExec=/usr/bin/rq_my_programs.sh
NoDisplay=false
