[Desktop Entry]
Version=1.1
Name=Quantum Fractals
Comment=Create animated fractal art using quantum computing circuits and Julia sets
Icon=applications-graphics
Type=Application
Categories=RasQberry;
Exec=/home/rasqberry/.local/bin/fractals.sh
Terminal=true
StartupNotify=true
Keywords=quantum;fractals;julia;art;visualization;qiskit;
X-GNOME-TextColor=#000000
TryExec=/home/rasqberry/.local/bin/fractals.sh
NoDisplay=false