[Desktop Entry]
Version=1.1
Name=Quantum Coin Game
Comment=Interactive demonstration of quantum superposition and interference using a coin flip game
Icon=/usr/share/icons/rasqberry/Coin-Zahl-Kante.png
Type=Application
Categories=RasQberry;
Exec=/usr/bin/rq_demo_run.sh fun-with-quantum coin-game
Terminal=true
StartupNotify=true
MimeType=text/html;
Keywords=quantum;coin;game;superposition;interference;jupyter;notebook;
X-GNOME-TextColor=#000000
TryExec=/usr/bin/rq_demo_run.sh
NoDisplay=false
