[Desktop Entry]
Version=1.1
Name=Quantum Fractals
Comment=Create animated fractal art using quantum computing circuits and Julia sets
Icon=/usr/share/icons/rasqberry/quantum_raspberry_tie_icon.svg
Type=Application
Categories=RasQberry;
Exec=/usr/bin/fractals.sh
Terminal=true
StartupNotify=true
Keywords=quantum;fractals;julia;art;visualization;qiskit;
X-GNOME-TextColor=#000000
TryExec=/usr/bin/fractals.sh
NoDisplay=false