[Desktop Entry]
Name=Virtual Keyboard
Comment=On-screen keyboard for touchscreens
Exec=matchbox-keyboard
Icon=input-keyboard
Terminal=false
Type=Application
Categories=Utility;Accessibility;