@use '@carbon/themes';
@use '@carbon/grid';
@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';

.toc {
    position: sticky;
    top: 4rem;
    width: 100%;

    &__list {
        @include grid.breakpoint-down(lg) {
            display: none;
        }

        margin: 0;

        &__item {
            cursor: pointer;
            line-height: 1.25rem;
            margin: 0;
            padding: 1rem;
            border-left: 0.25rem solid themes.$border-subtle-01;

            &--active {
                border-left: 0.25rem solid themes.$border-interactive;
            }

            &--1 {
                font-weight: bold;
                font-size: 1.5rem;
                padding-left: 1rem;
            }

            &--2 {
                font-weight: bold;
                padding-left: 1rem;
            }

            &--3 {
                padding: 0.5rem;
                padding-left: 1.75rem;
            }

            &--4 {
                padding: 0.3rem;
                padding-left: 2.25rem;
                color: themes.$text-helper;
            }

            &--5 {
                padding: 0.3rem;
                padding-left: 2.75rem;
                color: themes.$text-helper;
            }

            &--6 {
                padding: 0.3rem;
                padding-left: 3.25rem;
                color: themes.$text-helper;
            }
        }
    }

    &__dropdown {
        margin-bottom: 2rem;

        @include grid.breakpoint-up(lg) {
            display: none;
        }
    }
}