[Desktop Entry]
Type=Application
Name=Onboard
Comment=On-screen keyboard for touch displays
Exec=onboard
Icon=onboard
Terminal=false
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
Categories=Utility;Accessibility;
Keywords=keyboard;on-screen;touch;
